<div class="container-fluid">
  <div class="row">
    Week Of: <%= @start_date.strftime("%B %e, %Y") %> - <%= @end_date.strftime("%B %e, %Y") %><br>
  </div>
    <% due = Task.where("fun = false AND personal = false AND due_date >= :start_date AND due_date <= :end_date",
    { start_date: @start_date, end_date: @end_date }) %>
    <% fun = Task.where("fun = true AND personal = true AND due_date >= :start_date AND due_date <= :end_date",
    { start_date: @start_date, end_date: @end_date }) %>

  <div class="row">
    <div class="col-sm-6">
      Things Due This Week: <br>
      <ul>
      </ul>
    </div>

    <div class="col-sm-6">
      Things To Look Forward To This Week: <br>
      <ul>
      </ul>
    </div>
  </div>
</div>