<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>
 
<p>
  <strong>Subtask?:</strong>
  <%= @task.subtask %>
</p>

<p>
  <strong>Parent Id:</strong>
  <%= @task.parent_id %>
</p>

<p>
  <strong>Recurring?:</strong>
  <%= @task.recurring %>
</p>